.imageBooks{
    height: 300px;
    width: 330px;
}


/* Xtra Small Devices */
@media screen and (max-width:575px){
 
    .imageBooks{
        height: 200px;
        width: 230px;
    }
    
}

/* Small Devices */
@media screen and (min-width:576px) and (max-width:767px){

    .imageBooks{
        height: 200px;
        width: 230px;
    }

}

/* Medium Devices */
@media screen and (min-width:768px) and (max-width:991px){
   
    .imageBooks{
        height: 200px;
        width: 230px;
    }
    
}

/* Large Devices */
@media screen and (min-width:992px) and (max-width:1199px){ 
  
    .imageBooks{
        height: 200px;
        width: 230px;
    }

}

/* Xtra Large Devices */
@media screen and (min-width:1200px){ 
  
    .imageBooks{
        height: 300px;
        width: 330px;
    }

}